
 <aside class="app-currency__hero">
    <h2>CryptoCurrency Details</h2>
  </aside>
<section style="overflow:auto;margin-top: 30px;background-color:white;width:48%;margin:100px auto;border:1px solid #0000000a;padding: 20px;border-radius:5px;box-shadow:0px 5px 14px 1px #0000001a;"> 
    <div class="parentToData">
      <div style="margin-right:100px;width: 200px;display:inline-block;border:1px solid #0000003b;padding:30px;border-radius:5px;">
        <h2 style="text-align:center">{{curr.symbol}}</h2>
      </div>
      <div class="" style="display: inline-block">
        <p>Rank: {{curr.rank}}</p>
        <p>Name: {{curr.name}}</p>
        <p *ngIf="curr.quotes.hasOwnProperty('USD')">Price (USD): ${{curr.quotes.USD.price | priceFormat}}</p>
        <p *ngIf="curr.quotes.hasOwnProperty('INR')">Price (INR): ₹{{curr.quotes.INR.price | priceFormat}}</p>
        <p *ngIf="curr.quotes.hasOwnProperty('EUR')">Price (EUR): €{{curr.quotes.EUR.price | priceFormat}}</p>
        <p>Supply: {{curr.circulating_supply}}</p>
      </div>
    </div>  
    <br>
    <div style="display: block;margin-top: 20px;padding-left:300px;">
      <textarea style="width: 300px;border:1px solid #0000003b" [(ngModel)]="userNotes.notes">

      </textarea>
      <br/>
      <button mat-raised-button color="primary" (click)="saveNotes()">Save Note</button>
    </div>
  <div style="display:block;margin-top:85px;margin-left: auto;margin-right: auto; text-align:center">
    <button mat-raised-button color="primary" (click)="naviToDashboard()">Go Back!</button>
  </div>
</section>


