@import "../node_modules/nouislider/distribute/nouislider.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    margin:0px;
    padding: 0px;
    font-family: Lato;
}
body{
    background-color: #f5f5f5;
}
.in-primary{
    
}/* You can add global styles to this file, and also import other style files */
